#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
}

.cell {
    flex: 0 125px;
    height: 125px;
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid black;
    background-color: blue;
}