#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
    border: 1px solid black;
}

.cell {
    flex: 0 125px;
    height: 125px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    background-color: white;
}

.draw {
    background-color: black;
}